.editor-container {
  display: flex;
  flex-direction: column;
  height: 70vh; /* Full height of viewport */
  border: 1px solid #ddd;
  border-radius: 8px;
}

.editor {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: auto;
  height: calc(80% - 40px); /* Adjust height to account for button */
  counter-reset: line;
  padding-left: 0;
}

.editor p:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}

.save-button {
  margin: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #45a049;
}
